# Generated Folders #
#####################
build/

# Generated Python Files #
##########################
*.pyc

# Hidden / Backup Files #
#########################
.*
*~

# Don't ignore #
################
!.gitignore
